body{
    background-color: rgb(121, 224, 121);
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding-top: 25px;
}
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20px;
}